section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14vh;
}

.delete-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.delete-search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-search-form input {
  width: 70%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.delete-search-form button {
  width: 70%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.button {
  margin: 3px;
  border-radius: 5px;
  border: 1px solid rgb(208, 200, 200);
  width: 300px;
  padding: 5px;
}

.delete-button {
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(169, 24, 24);
}

.div-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


