nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}